<div class="bkg-register">
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h5>
            <form class="form-horizontal"
              *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
            <div class="form-group" style="padding-bottom: 30px;">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                minlength="3"
                maxlength="20"
                #username="ngModel"
                placeholder="username"
              />
              <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">
                  Username must be at least 3 characters
                </div>
                <div *ngIf="username.errors.maxlength">
                  Username must be at most 20 characters
                </div>
              </div>
            </div>
            <div class="form-group" style="padding-bottom: 30px;">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="form.email"
                required
                email
                #email="ngModel"
                placeholder="email"
              />
              <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
              <div class="form-group" style="padding-bottom: 30px;">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  minlength="6"
                  #password="ngModel"
                  placeholder="password"
                />
                <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                <label class="form-check-label" for="rememberPasswordCheck">
                  Remember password
                </label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign Up</button>
              </div>
              <hr class="my-4">
              <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
              </div>
            </form>
            <div class="alert alert-success" *ngIf="isSuccessful">
              Your registration is successful!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>