<div class="container">
    <ul class="nav nav-tabs">
        <li nav-item>
            <button class="nav-link" (click)="showAccountFeesPerDay()">Account Fee Per Day</button>
        </li>
        <li nav-item>
            <button class="nav-link" (click)="showDeviceFeesPerDay()">Device Fee Per Day</button>
        </li>
        <li>
            <button class="nav-link" (click)="showDeviceFeesPerMonth()">Device Fee Per Month</button>
        </li>
        <li>
            <button class="nav-link" (click)="showSimCardFeesPerMonth()">Sim Card Fee Per Month</button>
        </li>
    </ul>
</div>
<div class="container">
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>