<header class="header-background">
  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Géolocalisation De véhicule</h1>
        <p class="lead mb-0">TRACI</p>
      </div>
    </div>
  </div>
</header>

<!-- Page section example for content below the video header -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-4 col-md-7">
        <img src="../../assets/images/dash.jpg" style="max-width:100%;height:auto;"/>
      </div>
      <div class="col-8 col-md-5">
        Un système de géolocalisation permet de localiser des véhicules en temps réel. Il se compose d’un traceur GPS installé dans le véhicule relié à un logiciel de suivi. Ces systèmes sont très avantageux pour les entreprises car ils permettent de nombreux bénéfices tels que des économies sur le carburant ou encore un gain de productivité.        <br><hr>
        l’essentiel des termes liés à la géolocalisation :<br>
        <strong> Adresse IP<br>
        ASP : « Application Service Provider »<br>
        Géolocalisation<br>
        GPS<br>
        GPRS<br>
        Geofencing<br></strong>
            </div>
    </div>
  </div>
</section>