<div class="container">
    <div class="my-5 row">
      <div class="col-sm-8">
        <button type="button" class="btn btn-dark btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="fa fa-plus"></i>Ajouter un compte web</button>
      </div>
    </div>
    <div class="card my-5">
        <h1 style="margin: auto;">Liste des comptes web</h1>
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let wca of webClientAccounts">
                <td>{{ wca.idWebClientAccount }}</td>
                <td>{{ wca.username }}</td>
                <td><a href="mailto:{{ wca.email }}">{{ wca.email }}</a></td>
                <td>{{ wca.role.name }}</td>
                <td>
                  <button type="button" class="btn btn-outline-info" (click)="detailsWebClientAccount(wca.idWebClientAccount)" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Détails</button>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-secondary" (click)="updateWebAccountForm(wca.idWebClientAccount)" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Editer</button>
                </td>
                <td><button type="button" class="btn btn-outline-danger" (click)="deleteWebClientAccount(wca.idWebClientAccount)">Supprimer</button></td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [pageSize]="5" [length]="totalElements" (page)="nextPage($event)"> </mat-paginator>
        </div>
      </div>
  </div>
  <!-- model dialog for add and update-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #model>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 *ngIf="isAddMode && !isDetailMode" class="modal-title" id="exampleModalLabel" style="text-align: center">Ajouter un compte web</h4>  
            <h4 *ngIf="!isAddMode && !isDetailMode" class="modal-title" id="exampleModalLabel" style="text-align: center">Mise à jour compte web</h4>  
            <h4 *ngIf="isDetailMode" class="modal-title" id="exampleModalLabel" style="text-align: center">Détails compte web</h4>  
          </div>
          <div class="modal-body">
            <form [formGroup]="webAccountForm" (ngSubmit)="onSubmit()">
              <div class="row mb-4" *ngIf="!isAddMode">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" formControlName="idWebClientAccount" placeholder="ID" class="form-control" readonly/>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="text" formControlName="username" placeholder="Nom & prénom" class="form-control" required/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="email" formControlName="email" placeholder="Email" class="form-control" required/>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="password" formControlName="password" placeholder="Mot de passe" class="form-control" required/>
                  </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                      <input [readonly]="isDetailMode" type="password" formControlName="rawPassword" placeholder="Mot de passe brut" class="form-control" required/>
                    </div>
                  </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="text" formControlName="code_pays" placeholder="Code pays" class="form-control" required/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="number" formControlName="pool" placeholder="Pool" class="form-control" required/>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="tel" formControlName="telephone" placeholder="Téléphone" class="form-control" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="text" formControlName="area" placeholder="Région" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="text" formControlName="notificationSubquery" placeholder="Notification Sous-requête" class="form-control" />
                  </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Notif mobile
                        </label>
                      </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="number" formControlName="deviceFeeByDay" placeholder="Frais d'appareil par jour" class="form-control" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="number" formControlName="accountFeeByMonth" placeholder="Frais de compte par mois" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="number" formControlName="deviceFeePerMonth" placeholder="Frais d'appareil par mois" class="form-control" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input [readonly]="isDetailMode" type="number" formControlName="simCardFeePerMonth" placeholder="Frais de carte SIM par mois" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Expiré
                        </label>
                      </div>
                </div>
              </div>
            </form>
            <div *ngIf="!loading">{{errorMessage}}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="changeisUpdate()">Fermer</button>
            <button type="button" *ngIf="!isAddMode && !isDetailMode" class="btn btn-success" [hidden]="isupdated" (click)="onSubmit()">mettre à jour</button>
            <button type="button" *ngIf="isAddMode && !isDetailMode" class="btn btn-success" [hidden]="isupdated" (click)="onSubmit()">ajouter</button>
          </div>
        </div>
      </div>
    </div>
    <!-- model dialog for details-->